@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@700&display=swap');
#title {
    background-color: #ff4368;
    color: #fff;
    position: relative;
}

.pad-container {
    padding: 3% 15%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 18px !important;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

.navbarcontainer {
    padding: 0;
}


/* download buttons: */

.download-button {
    margin: 5% 3% 5% 0;
}


/* hero section  */

.title-image {
    width: 60%;
    position: relative;
    transform: rotate(25deg);
    left: 17%;
}

.hero {
    position: inherit;
}


/* features sections */

#features {
    line-height: 1.5;
    padding: 8.5rem 10.75rem;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
    margin-top: -15%;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.fp {
    color: #8f8f8f;
    text-align: center;
    padding: 0 15%;
}

.feature-icon {
    margin-bottom: 1.5rem;
    color: #ef8172;
}

.fas:hover {
    line-height: 2;
    color: #ff4c68;
}


/* testimonial section:  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}

.carousel-item {
    padding: 7% 15%;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

.testimonial-img {
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logos {
    width: 15%;
    margin: 10px 20px 50px;
}

.mashable {
    width: 10%;
}

.tnw-logo {
    width: 9%;
}


/* pricing: */

#pricing {
    padding: 100px;
}

.pricing-card {
    text-align: center;
    padding: 3% 2%;
}

.card-body {
    padding-top: 5%;
    padding-bottom: 3%;
}

.smallerCards {
    padding-top: 6%;
    padding-bottom: 13.5%;
}